@*
    * =============================================
    * Title : View Courts Offices
    * Author : Osama Tarek
    * Date : 7/2019
    * Training in the Ministry of Justice
    * =============================================
*@
@model IEnumerable<SupportSystemMOJ.dbModels.CourtsOfficesDto>

@{
    ViewBag.Title = "الدوائر";
    ViewBag.nameUsers = "عرض الدوائر";
}

<table class="table table-striped table-bordered first">
    <tr>
        <th>
            @Html.DisplayName("المحكمة")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficeNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWorking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Court.CourtName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficeNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkPercentage)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.IsWorking)
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.IsActive)
        </td>
    </tr>
    }

</table>
