@{
    if(Session["UserID"] == null){
        Response.Redirect("~/Users/index");
    }
    else
    {
        string ck = Session["RoleID"].ToString();
        if (ck != "10")
        {
            Response.Redirect("~/NormalUser/index");
        }
    }
}


<!DOCTYPE html>
<html lang="ar-ae" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - وزارة العدل</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/style.css">
    <link href="~/Content/chosen.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/Content/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="//www.fontstatic.com/f=sky-bold" />

    <style>
        body {
            font-family: 'sky-bold'!important;
        }
    </style>
</head>

<body>
    <div class="dashboard-main-wrapper">
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="~/Users/Index"><img style="width:129px;" src="~/Content/images/moj.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="بحث ..">
                                    <span class="input-group-prepend"><span class="input-group-text"><i class="fas fa-search"></i></span></span>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-left notification-dropdown">
                                <li>
                                    <div class="notification-title">الإشعارات</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/Content/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">أحمد</span>تجربة
                                                        <div class="notification-date">منذ 5 دقائق</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">رؤية جميع الإشعارات</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/Content/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-left nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">@Session["FullName"].ToString()</h5>
                                    <span class="status"></span><span class="ml-2">متاح</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i> الحساب</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i> الإعدادات</a>
                                <a class="dropdown-item" id="logout" href="~/Users/LogOut"><i class="fas fa-power-off mr-2"></i> تسجيل الخروج</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">القائمة الرئيسية</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                القائمة الرئيسية
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>الحسابات</a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Users/Index">المستخدمين</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Users_Courts/Index">المستخدمين في المحاكم</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-user-circle"></i>المحاكم</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Courts/Index">المحاكم</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/CourtsOffices/Index">الدوائر</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">@ViewBag.Title</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <h5 class="card-header">@ViewBag.nameUsers</h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                @RenderBody()
                            </div>
                        </div>
                    </div>

                    <div class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                    جميع الحقوق محفوظة لدى وزارة العدل ©	2019
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                                    <div class="text-md-right footer-links d-none d-sm-block">
                                        <a href="javascript: void(0);">سياسة الخصوصية</a>
                                        <a href="javascript: void(0);">شروط الاستخدام</a>
                                        <a href="javascript: void(0);">ميثاق العملاء</a>
                                        <a href="javascript: void(0);">سياسة المحتوى</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/main-js.js"></script>
    @RenderSection("script", required: false)
</body>
</html>